In [1]:
import os

import pandas as pd
from sklearn.model_selection import train_test_split

# 1. Parsing

In [2]:
DATA_ROOT_P = '/mnt/data/DatasetsML/NLP/translation/tatoeba_bilingual_sentence_pairs/data'

DATA_P = os.path.join(DATA_ROOT_P, 'eng_fre.csv')

In [3]:
data_enf_fre_df = pd.read_csv(DATA_P)
data_enf_fre_df.shape

(232736, 2)

In [4]:
data_enf_fre_df.iloc[41020:41030]

                        Eng                               Fre
41020  I hate losing money.    Je déteste perdre de l'argent.
41021  I hate taking risks.  Je n'aime pas prendre de risque.
41022  I hate taking risks.   Je déteste prendre des risques.
41023  I hate that so much.          Je déteste tellement ça.
41024  I hate these things.            Je déteste ces choses.
41025  I hate this costume.         Je déteste ce costume-ci.
41026  I hate this uniform.          Je déteste cet uniforme.
41027  I hate this weather.              Je déteste ce temps.
41028  I hate those things.            Je déteste ces choses.
41029  I hate to eat alone.           Je déteste manger seul.

In [5]:
# remove duplicates
data_enf_fre_df_unique = data_enf_fre_df[~data_enf_fre_df['Eng'].duplicated()]
data_enf_fre_df_unique.shape

(166561, 2)

In [6]:
data_enf_fre_df_unique.iloc[:15]

      Eng          Fre
0     Go.         Va !
4     Hi.      Salut !
6    Run!      Cours !
14   Run.      Cours !
22   Who?        Qui ?
23   Wow!   Ça alors !
26  Duck!    À terre !
29  Fire!     Au feu !
30  Help!   À l'aide !
31  Hide.   Cache-toi.
33  Jump!       Saute.
34  Jump.       Saute.
35  Stop!  Ça suffit !
38  Wait!    Attends !
41  Wait.    Attends !

# 2. Train Test Split

In [7]:
train_df, test_df = train_test_split(data_enf_fre_df_unique, test_size=0.1, random_state=42)

print(f'train: {train_df.shape[0]}')
print(f'test: {test_df.shape[0]}')

train: 149904
test: 16657

In [8]:
DATASET_ROOT_P = os.path.join('datasets')

TRAIN_P = os.path.join(DATASET_ROOT_P, 'translation_tatoeba_train.csv')
TEST_P = os.path.join(DATASET_ROOT_P, 'translation_tatoeba_test.csv')

In [9]:
# train_df.to_csv(TRAIN_P, index=False)
# test_df.to_csv(TEST_P, index=False)

In [10]:
train_df = pd.read_csv(TRAIN_P)
test_df = pd.read_csv(TEST_P)

print(f'train: {train_df.shape[0]}')
print(f'test: {test_df.shape[0]}')

train: 149904
test: 16657

In [11]:
train_df.head(3)

,Eng,Fre
0,I made a lot of mistakes.,J'ai commis de nombreuses erreurs.
1,I think I've already given you enough money.,Je pense que je t'ai déjà donné suffisamment d...
2,No one knows why Tom wanted to do that.,Personne ne sait pourquoi Tom voulait faire ça.

In [12]:
test_df.head(3)

,Eng,Fre
0,Do you want a few more minutes?,Veux-tu quelques minutes de plus ?
1,The weather will definitely be good tomorrow.,C'est sûr que demain le temps sera beau.
2,That's about all.,C'est à peu près tout.